*{
    margin:0;
    padding:0;
    video-sizing: border-video;
}

:root{
    --main-color:#f8b281;
    --secondary-color:#1b1b1b;
}

html,
body{
    height: 100%;
    
}


body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav svg{
    cursor: pointer;
}
.hamburger{
    cursor: pointer;
    display: block;
    outline: none;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    

}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom{
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: var(--main-color);
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle{
    transform: translateY(7px);
}
.hamburger-bottom{
    transform: translateY(14px);
}
.open{
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translate(6px);
}
.open .hamburger-middle{
    display: none;
}
.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@font-face {
    font-family: argonite;
    src: url("./assets/stone\ orgonite.woff");
}

section{
    padding: 5%;
}

h2{
    font-size: 2.2rem;
    line-height: 125%;
    padding: 1rem 0rem;
}
h3{
    font-size: 1.25rem;
    line-height: 125%;
}

.links{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 70vh;
    left: 0;
    top: 0;
    transform: translateX(400%);
    background-color: #1b1b1b;
    color: white;
    
    
}
.show{
    transform: translateX(0%);
    animation: fadeIn 2s ;

}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.links a{
    text-decoration: none;
    color: white;
    line-height: 150%;
    font-size: 2rem;
    
}
.links a:hover{
    color: var(--main-color);
    font-weight: bold;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}
.logo h1{
    margin-left: 0.5rem;
    font-size: 1rem;
    font-family: "argonite", sans-serif;
}
.logo img{
    width: 1.8rem;
}

.front-page{
    color:white;
    min-height: 100vh;
    
}
.selling-point{
    padding-top: 25vh;
    font-family: "argonite", sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
    text-align: center;
}
.selling-point h3{
    font-family:sans-serif;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.49);
}
.ctas{
    margin-top:2rem;
}
.ctas button{
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    border: none;
    border-radius:0.5rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.216);
}
.cta-main{
    background-color: var(--main-color);
    color: var(--secondary-color);
}
.cta-main a{
    color: var(--secondary-color);
    text-decoration: none;
}
.cta-sec{
    background-color: var(--secondary-color);
    color: white;
    
}

.hero{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.clases{
    color: var(--secondary-color);
    text-align: center;
    font-family: "argonite", sans-serif;
}

.classes-discription{
    text-align: center;
}

.videos video{
    width: 100%;
    border-radius: 1rem;
    margin-top: 1rem;
}
.meditation,
.yoga,
.pilates{
    position: relative;
}
.videos h3{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    text-align: center;
    color: var(--main-color);
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    
}

.video{
    opacity: 0;
    transition: transform 0.9s ease;
}


.video.show{
    opacity: 1;
}

.about{
    color: var(--secondary-color);

}
.about h2{
    font-family: "argonite", sans-serif;
    text-align: center;
}
.about p{
    line-height: 150%;
    font-size: 1.2rem;
}

.about img{
    width: 100%;
    margin-top: 2rem;
}
@media screen and (min-width:768px) {
    body{
        padding: 1rem;
    }
    .videos{
        display: flex;
        gap:2rem;
    }
    .about{
        display: flex;
        gap:5rem;
        justify-content: space-evenly;
    }
    .about img{
        width: 80vh;
    }
    
}